body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.card {
    text-align: center;
}

/* Title */
h1 {
    color: white;
    margin-bottom: 20px;
}

/* Input section */
.inputBox {
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* Input fields */
input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Add button */
button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #218838;
}

/* List styling */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

/* Each item */
li {
    background: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    width: 320px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* Delete button */
.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}